/*
green: #baffc9
orange: #ffb246
blue: #bae1ff
white: #fff
black: #000
overlay-green: #6ad380
overlay-hide-greyish: #d6dbe0
*/
::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.background {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(243, 165, 55, .5), /*color, start - first half of gradient */
    rgba(243, 165, 55, .5) 48px, /*color, stop - second half of gradient */
    rgba(255, 255, 255, .5) 48px, /*color, start - first half of gradient */
    rgba(255, 255, 255, .5) 96px); /*color, stop - second half of gradient */
  /*Note: use rgba if you need to set opacity without affecting children elements */
}

.theme-color-1 {
  background-color: #baffc9
}

.theme-color-2 {
  background-color: #ffb246
}

.theme-color-3 {
  background-color: #bae1ff
}

.theme-color-4 {
  background-color: #fff
}

.box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.box-container {
  width: 150px;
  height: 150px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  border: #fff 2px solid;
  position: relative;
  text-align: center;
}

.box-container-with-content {
  z-index: 999;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.box-container-with-content:hover,
.box-container-with-content:focus,
.box-container-with-content:active {
  transform: scale(1.1);
  z-index: 99999;
  box-shadow: 0 0 50px rgba(33,33,33,.2); 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}

.overlay-faded {
  background-color: rgba(255, 255, 255, .4);
}

.overlay-hide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d6dbe0;
}

.box:hover .overlay-hide{
  opacity: .4;
}

/* entire box is anchored rather than just anchor text - UX*/
.box-container .more_link { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- inner box --- */

.inner-box-bg {
  width: 80%;
  height: 80%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.m1n1 {
  background-image: url(../src/components/images/m1n1.png);
}

.m1n2 {
  background-image: url(../src/components/images/m1n2.png);
}

.m1n3 {
  background-image: url(../src/components/images/m1n3.png);
}

.m2n1 {
  background-image: url(../src/components/images/m2n1.png);
}

.m2n2 {
  background-image: url(../src/components/images/m2n2.png);
}

.m2n3 {
  background-image: url(../src/components/images/m2n3.png);
}

.m3n1 {
  background-image: url(../src/components/images/m3n1.png);
}

.m3n2 {
  background-image: url(../src/components/images/m3n2.png);
}

.m3n3 {
  background-image: url(../src/components/images/m3n3.png);
}

.hidden-on-mobile {
  display: none;
}

/*----modal----*/
.modalDialog {
  position: fixed;
  font-family: 'EB Garamond', serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(236, 181, 98, 0.6); /*full screen faded out*/
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
  max-height: 100vh; /*contain modal so scroll enabled if overflow outside of viewport*/
  overflow-y: auto; /*contain modal so scroll enabled if overflow outside of viewport*/
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 75%;
	position: relative;
  margin: 5% auto;
  padding: 8px 20px 24px 20px;
  border: #fff 2px solid;
  opacity: 1;
  text-align: center;
}

.close {
	background: white;
	color: black; /*X*/
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #ffb246; 
  color: white; /*X*/
}

/*----style links --- */

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* registry style */

.logo{
  height: auto;
  width: 112px;
  margin: auto;
  padding: 5px;
  background: #fff;
}

a .logo:hover,
a .logo:focus,
a .logo:active {
  transform: scale(1.1);
  box-shadow: 0 0 50px rgb(255, 255, 255); 
}

.registry-links {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.registry-links > a {
  margin: 10px; 
}

/*---text style --- */
.attention-text {
  font-style: italic;
}

.emphasis-text {
  font-weight: bold;
}

.style-text {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 32px;
}

.section-text {
  padding: 0;
  margin: 0;
}

.break-text {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
}

.higher-emphasis {
  font-weight: bold;
  text-shadow: /*outline text*/
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

/*--button---*/
.btn-rsvp, 
.btn-submit {
  margin-top: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #ffb246;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px #999;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-shadow: /*outline text*/
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.btn-rsvp:hover,
.btn-submit:hover {
  background-color: #f89d26
}

.btn-rsvp:active,
.btn-submit:active {
  background-color: #c07007e1;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/*disable text selection highlighting */
.noselect { 
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/* --- Form --- */
.form-elements {
  width: 95%;
  height: auto;
  padding: 24px 0 24px 0;
  margin-top: 24px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #666;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

fieldset {
  border: 0;
  text-align: left;
}

#honeypot {
  display: none; /*makes the field not visible to humans*/
}

input[type="text"], input[type="email"], input[type="number"], textarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 195, 195);
  background-color: rgb(245, 245, 245);
  height: 5%;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
  line-height: 40px;
  text-align: left;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-family: 'EB Garamond', serif;
}

legend {
  font-weight: bold;
  font-size: 24px;
}

label {
  font-size: 16px;
  line-height: 40px;
}

label:not(.rsvp) {
  text-align: left;
}

.block{
  margin: auto;
  text-align: center;
}

label .rsvp {
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}

input[type="radio"]{
  display: inline-block;
  vertical-align: top;
}

.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  background:#fff;
  width:25px;
  height:25px;
  border-radius:50%;
}

.radio:checked{
  border:5px solid #4099ff;
  background: #4099ff;
}

input[type="radio"] label {
  margin: 10px 10px 0px 5px;
}

.direction-text {
  font-weight: normal;
  font-size: 12px;
  color: rgb(111, 111, 111);
  line-height: 40px;
  text-align: left;
  padding-left: 5px;
}

textarea {
  margin-top: 10px;
}

/* ---- Slideshow ---- */

.slideModal > div {
  height: 100%;
  padding: 24px 24px 48px 24px;
  border: #fff 2px solid;
  opacity: 1;
  text-align: center;
}

.slideshow {
  height: 85%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.slideshow-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../src/components/images/photo3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right-carrot {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left-carrot {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right-arrow, .left-arrow {
  height: 48px;
  width: 48px;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.right-arrow:hover, .left-arrow:hover {
  transition: transform ease-in .1s;
  transform: scale(1.1)
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 10px;
  z-index: 999;
  color: #fff;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 10px;
  z-index: 999;
  color: #fff;
}

@media only screen and (min-width: 640px) {
  .modalDialog > div {
    width: 45%
  }

  .slideModal > div {
    max-height: 85vh;
  }
  
  .slideshow {
    max-height: 85vh;
  }

  .box {
    flex-direction: row;
  }

  .hidden-on-mobile {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  .registry-links {
    flex-direction: row;
  }

  .modalDialog > div {
    margin: 2% auto;
  }

  input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 75%;
    display: block;
  }

  label:not(.rsvp) {
    margin-left: 32px;
  }

  .box:hover .overlay {
    opacity: .9;
  }

  .overlay {
    background-color: #6ad380;
    opacity: 0;
  }

  .box-container:hover .overlay {
    opacity: 1;
  }
}



