/*
green: #baffc9
orange: #ffb246
blue: #bae1ff
white: #fff
black: #000
overlay-green: #6ad380
overlay-hide-greyish: #d6dbe0
*/
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: repeating-linear-gradient(
    to right,
    #ffb246, /*color, start - first half of gradient */
    #ffb246 20px, /*color, stop - second half of gradient */
    #fff 20px, /*color, start - first half of gradient */
    #fff 40px); /*color, stop - second half of gradient */
}

.theme-color-1 {
  background-color: #baffc9
}

.theme-color-2 {
  background-color: #ffb246
}

.theme-color-3 {
  background-color: #bae1ff
}

.box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.box-container {
  width: 150px;
  height: 150px;
  display: flex;
  border: #fff 2px solid;
  position: relative;
  text-align: center;
}

.box-container-with-content {
  z-index: 999;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.box-container-with-content:hover,
.box-container-with-content:focus,
.box-container-with-content:active {
  transform: scale(1.1);
  z-index: 99999;
  box-shadow: 0 0 50px rgba(33,33,33,.2); 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6ad380;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-hide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d6dbe0;
}

.box:hover .overlay {
  opacity: .9;
}

.box:hover .overlay-hide{
  opacity: .4;
}

.box-container:hover .overlay {
  opacity: 1;
}

/* --- inner box --- */

.inner-box-bg {
  width: 80%;
  height: 80%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.m1n1 {
  background-image: url(../src/components/images/m1n1.png);
}

.m1n2 {
  background-image: url(../src/components/images/m1n2.png);
}

.m1n3 {
  background-image: url(../src/components/images/m1n3.png);
}

.m2n1 {
  background-image: url(../src/components/images/m2n1.png);
}

.m2n2 {
  background-image: url(../src/components/images/m2n2.png);
}

.m2n3 {
  background-image: url(../src/components/images/m2n3.png);
}

.m3n1 {
  background-image: url(../src/components/images/m3n1.png);
}

.m3n2 {
  background-image: url(../src/components/images/m3n2.png);
}

.m3n3 {
  background-image: url(../src/components/images/m3n3.png);
}

.hidden-on-mobile {
  display: none;
}

/*----modal----*/
.modalDialog {
  position: fixed;
  font-family: 'EB Garamond', serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(236, 181, 98, 0.6); /*full screen faded out*/
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
  max-height: 100vh; /*contain modal so scroll enabled if overflow outside of viewport*/
  overflow-y: auto; /*contain modal so scroll enabled if overflow outside of viewport*/
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 45%;
	position: relative;
	margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border: #fff 2px solid;
  opacity: 1;
  text-align: center;
}

.close {
	background: white;
	color: black; /*X*/
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #ffb246; 
  color: white; /*X*/
}

/*----style links --- */

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

a:hover .underline_text {
  text-decoration: underline;
  text-decoration-color: white;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* registry style */

.logo{
  height: auto;
  width: 112px;
  margin: auto;
  padding: 5px;
  background: #fff;
}

a .logo:hover,
a .logo:focus,
a .logo:active {
  transform: scale(1.1);
  box-shadow: 0 0 50px rgba(33,33,33,.2); 
}

.registry-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.registry-links > a {
  margin: 10px; 
}

/*---text style --- */
.attention-text {
  font-style: italic;
}

.emphasis-text {
  font-weight: bold;
}

.style-text {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 32px;
}

.section-text {
  padding: 0;
  margin: 0;
}

.break-text {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
}

.higher-emphasis {
  font-weight: bold;
  text-shadow: /*outline text*/
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

@media only screen and (min-width: 640px) {
  .box {
    flex-direction: row;
  }

  .hidden-on-mobile {
    display: flex;
  }

  .registry-links {
    flex-direction: row;
  }

  .modalDialog > div {
    margin: 5% auto;
  }
}



